.cube {
    width: 250px;
    height: 100px;
    background-color: #fff;
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;

    font-size: 30px;
    font-weight: 500;
}

.cube:hover {
    transform: scale(1.1);
    opacity: .9;
}